# NECESSARY PARAMETERS
emus_meta_file = 'concatenated_data_meta_data.dat'
num_biased_dimensions = 1
temperature = 300.0
k_B = 0.0019872036 # kcal K^-1 mol^-1

unbiased_data_files_naming = 'window%03d.unbiased_cv.dat'
nWindows = 5

xMin = -28.5
xMax = 21.0
yMin = -8.25
yMax = 15.0

# bin width = 0.375 
xBins = 132
yBins = 62

x_axis_label = 'Projection onto PC1'
y_axis_label = 'Projection onto PC2'

reweighted_x_axis_prob_density_plot_name = 'pc1.reweighted_prob_density.png'
reweighted_y_axis_prob_density_plot_name = 'pc2.reweighted_prob_density.png'
reweighted_x_axis_unstitched_fe_plot_name = 'pc1.reweighted_unstitched_fe.png'
reweighted_y_axis_unstitched_fe_plot_name = 'pc2.reweighted_unstitched_fe.png'
reweighted_x_axis_stitched_fe_plot_name = 'pc1.reweighted_stitched_fe.png'
reweighted_y_axis_stitched_fe_plot_name = 'pc2.reweighted_stitched_fe.png'
reweighted_2d_heatmap_plot_name = 'two_d_heatmap.reweighted_fe.png'

reweighted_2d_heatmap_data_file_name = 'two_d_heatmap.reweighted_fe.dat'
reweighted_x_axis_stitched_fe_data_file_name = 'pc1.reweighted_stitched_fe.dat'
reweighted_y_axis_stitched_fe_data_file_name = 'pc2.reweighted_stitched_fe.dat'

output_directory = 'PC1vsPC2_delta0.375'
summary_output_filename = 'reweighting.summary.txt'

# OPTIONAL PARAMETERS
bootstrap_bool = False # True
nIterations = 1000

