# NECESSARY PARAMETERS
emus_meta_file = 'concatenated_data_meta_data.dat'
num_biased_dimensions = 1
temperature = 300.0
k_B = 0.0019872036 # kcal K^-1 mol^-1

projected_data_files_naming = 'window_%03d/window_%03d.a2_lb3b4.projected_data.dat'
cv_data_files_naming = 'Production%d/window%03d.prod%d.col_var.dat'
start_production_number = 4
end_production_number = 15
nWindows = 40

xMin = -28.5
xMax = 21.0
yMin = -8.25
yMax = 15.0

# bin width = 0.375 
xBins = 132
yBins = 62

x_axis_label = 'Projection onto PC1'
y_axis_label = 'Projection onto PC2'

reweighted_x_axis_prob_density_plot_name = 'pc1.reweighted_prob_density.png'
reweighted_y_axis_prob_density_plot_name = 'pc2.reweighted_prob_density.png'
reweighted_x_axis_unstitched_fe_plot_name = 'pc1.reweighted_unstitched_fe.png'
reweighted_y_axis_unstitched_fe_plot_name = 'pc2.reweighted_unstitched_fe.png'
reweighted_x_axis_stitched_fe_plot_name = 'pc1.reweighted_stitched_fe.png'
reweighted_y_axis_stitched_fe_plot_name = 'pc2.reweighted_stitched_fe.png'
reweighted_2d_heatmap_plot_name = 'two_d_heatmap.reweighted_fe.png'

reweighted_2d_heatmap_data_file_name = 'two_d_heatmap.reweighted_fe.dat'
reweighted_x_axis_stitched_fe_data_file_name = 'pc1.reweighted_stitched_fe.dat'
reweighted_y_axis_stitched_fe_data_file_name = 'pc2.reweighted_stitched_fe.dat'

output_directory = 'PC1vsPC2_delta0.375'
summary_output_filename = 'reweighting.summary.txt'

# OPTIONAL PARAMETERS
# STATE SPACE DEFINITION; CURRENTLY ONLY ASSUMES TWO STATES
x_axis_line_functions = [-0.1875,10]		# a 1D states space def: [plot's x-axis cutoff value, plot's y-axis max]
y_axis_line_functions = None				# a 1D states space def: [plot's x-axis cutoff value, plot's y-axis max]
td_line_function = '*9999.0-0.1875'	# a string defining the linear equation formula used to create a 2D state space def (takes x_half_bins as x values); slope range should be between -9999 and 9999 (too large of values may cause numerical problems)

bootstrap_bool = True # False
nIterations = 1000

